/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #fed4b5;
  --primary-200: #fdb783;
  --primary-300: #fca86b;
  --primary-400: #fc9a52;
  --primary-500: #fb8b39;
  --primary-600: #dc7a32;
  --primary-700: #bc682b;
  --primary-800: #9d5724;
  --primary-900: #7e461d;

  --sec-100: #c4d5ab;
  --sec-200: #acc489;
  --sec-300: #a0bc78;
  --sec-400: #8ca569;
  --sec-500: #64764b;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--primary-100);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  min-height: 50vh;
}
.loading h3 {
  font-weight: bolder;
}
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
.section-center {
  width: 95vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.section-title {
  text-align: center;
  font-weight: bolder;
  position: relative;
  width: fit-content;
  margin: 2rem auto;
  margin-bottom: 3rem;
  color: var(--grey-100);
}
.section-title::after {
  content: '';
  position: absolute;
  bottom: 1em;
  width: 80%;
  bottom: -1em;
  left: 10%;
  border-radius: 25px;
  height: 0.5em;
  background-color: var(--primary-500);
}

.tours-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-items: center;
  gap: 1rem;
  padding-top: 3rem;
}

.tour {
  min-height: 600px;
  background-color: var(--sec-400);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-3);
  position: relative;
  padding-top: 3rem;
}
.tour img {
  max-height: 350px;
  margin: 0.5rem 0;
}
.tour header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.375rem 0.75rem;
}
.tour h3 {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: bolder;
}
.tour header p {
  color: var(--grey-100);
  font-weight: bolder;
}
.tour footer p {
  color: var(--grey-200);
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.tour footer .btn {
  display: block;
  margin: 0 auto;
}
.btn-remove {
  background-color: transparent;
  color: darkred;
  border: none;
  font-size: 2rem;
  font-weight: bolder;
  position: absolute;
  cursor: pointer;
  top: 0.1rem;
  right: 0.5rem;
}
